p {
  font-size: 10px;
}

.drink-section {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.drinkname {
  width: 100%;
  height: 6%;
  margin-top: 20px;
}

.img-container {
  display: flex;
  overflow: hidden;
  width: 60%;
  height: 50%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  align-self: center;
  object-fit: fill;
  border-radius: 20px;
}

.drink-info {
  display: flex;
  width: 100%;
  height: 40%;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: flex-start;
  align-items: flex-start;
}

.ingredients-container {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-style: dotted dotted none none;
  border-width: 4px 4px 1px 1px;
  border-color: #fff;
  background-color: transparent;
}

.instructions-container {
  width: 50%;
  height: 100%;
  border-top: 4px dotted #fff;
  background-color: transparent;
}

.ingredients-title {
  margin-left: 10px;
}

.ingredients {
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 15px;
}

.instruction-title {
  margin-left: 10px;
}

.instructions {
  margin-left: 10px;
  font-size: 15px;
  object-fit: fill;
}
